@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.body {
    display: flex;
    width: 315px;
    height: 457px;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    z-index: 1;
    margin-bottom: 20px;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.body:hover {
    cursor: pointer;
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
}

.imgBody {
    width: 315px;
    height: 250px;
    margin-bottom: 10px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.img {
    width: 315px;
    height: 250px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.header {
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    color: #5E6282;
}

.starBody {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.starIcon {
    height: 20px;
    width: 20px;
    color: gold;
}

.secondBody {
    align-self: flex-start;
    float: left;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;

}

.iconLoc {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    color: #5E6282;
}

.rowText {
    width: 250px;
    object-fit: cover;
    height: 35px;
    text-align: left;
    float: left;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
    color: #5E6282;
    height: fit-content;
}

@media (max-width: 1130px){
    .body {
        display: flex;
        width: 300px;
        height: 445px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        z-index: 1;
        margin-bottom: 20px;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .body:hover {
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imgBody {
        width: 300px;
        height: 235px;
        margin-bottom: 10px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .img {
        width: 300px;
        height: 235px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .header {
        font-size: 18px;
        font-weight: 700;
        height: 40px;
        color: #5E6282;
    }
    
    .starBody {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .starIcon {
        height: 18px;
        width: 18px;
        color: gold;
    }
    
    .secondBody {
        align-self: flex-start;
        float: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    
    }
    
    .iconLoc {
        height: 18px;
        width: 18px;
        margin-right: 8px;
        color: #5E6282;
    }
    
    .rowText {
        width: 250px;
        object-fit: cover;
        height: 35px;
        text-align: left;
        float: left;
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 4px;
        color: #5E6282;
        height: fit-content;
    }
    
}

@media (max-width: 1090px){
    .body {
        display: flex;
        width: 280px;
        height: 430px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        z-index: 1;
        margin-bottom: 20px;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .body:hover {
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imgBody {
        width: 285px;
        height: 220px;
        margin-bottom: 10px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .img {
        width: 285px;
        height: 220px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .header {
        font-size: 18px;
        font-weight: 700;
        height: 37px;
        color: #5E6282;
    }
    
    .starBody {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .starIcon {
        height: 18px;
        width: 18px;
        color: gold;
    }
    
    .secondBody {
        align-self: flex-start;
        float: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    
    }
    
    .iconLoc {
        height: 18px;
        width: 18px;
        margin-right: 8px;
        color: #5E6282;
    }
    
    .rowText {
        width: 235px;
        object-fit: cover;
        height: 35px;
        text-align: left;
        float: left;
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 4px;
        color: #5E6282;
        height: fit-content;
    }
    
}

@media (max-width: 1024px){
    .body {
        display: flex;
        width: 265px;
        height: 415px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        z-index: 1;
        margin-bottom: 20px;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .body:hover {
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imgBody {
        width: 270px;
        height: 205px;
        margin-bottom: 10px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .img {
        width: 270px;
        height: 205px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .header {
        font-size: 16.5px;
        font-weight: 700;
        height: 37px;
        color: #5E6282;
    }
    
    .starBody {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .starIcon {
        height: 16.5px;
        width: 16.5px;
        color: gold;
    }
    
    .secondBody {
        align-self: flex-start;
        float: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    
    }
    
    .iconLoc {
        height: 16.5px;
        width: 16.5px;
        margin-right: 8px;
        color: #5E6282;
    }
    
    .rowText {
        width: 220px;
        object-fit: cover;
        height: 35px;
        text-align: left;
        float: left;
        font-size: 11px;
        font-weight: 300;
        margin-bottom: 4px;
        color: #5E6282;
        height: fit-content;
    }
    
}

@media (max-width: 990px){
    .body {
        display: flex;
        width: 250px;
        height: 400px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        z-index: 1;
        margin-bottom: 20px;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .body:hover {
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imgBody {
        width: 255px;
        height: 195px;
        margin-bottom: 10px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .img {
        width: 255px;
        height: 195px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .header {
        font-size: 15.5px;
        font-weight: 700;
        height: 35px;
        color: #5E6282;
    }
    
    .starBody {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .starIcon {
        height: 15.5px;
        width: 15.5px;
        color: gold;
    }
    
    .secondBody {
        align-self: flex-start;
        float: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    
    }
    
    .iconLoc {
        height: 15.5px;
        width: 15.5px;
        margin-right: 8px;
        color: #5E6282;
    }
    
    .rowText {
        width: 210px;
        object-fit: cover;
        height: 35px;
        text-align: left;
        float: left;
        font-size: 11px;
        font-weight: 300;
        margin-bottom: 4px;
        color: #5E6282;
        height: fit-content;
    }
    
}

@media (max-width: 930px){
    .body {
        display: flex;
        width: 230px;
        height: 375px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        z-index: 1;
        margin-bottom: 20px;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .body:hover {
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imgBody {
        width: 230px;
        height: 180px;
        margin-bottom: 10px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .img {
        width: 230px;
        height: 180px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .header {
        font-size: 14.5px;
        font-weight: 700;
        height: 33px;
        color: #5E6282;
    }
    
    .starBody {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .starIcon {
        height: 14.5px;
        width: 14.5px;
        color: gold;
    }
    
    .secondBody {
        align-self: flex-start;
        float: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    
    }
    
    .iconLoc {
        height: 14.5px;
        width: 14.5px;
        margin-right: 7px;
        color: #5E6282;
    }
    
    .rowText {
        width: 190px;
        object-fit: cover;
        height: 33px;
        text-align: left;
        float: left;
        font-size: 10px;
        font-weight: 300;
        margin-bottom: 4px;
        color: #5E6282;
        height: fit-content;
    }
    
}

@media (max-width: 810px){
    .body {
        display: flex;
        width: 210px;
        height: 370px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 13px;
        z-index: 1;
        margin-bottom: 20px;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .body:hover {
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imgBody {
        width: 200px;
        height: 175px;
        margin-bottom: 10px;
        border-top-right-radius: 13px;
        border-top-left-radius: 13px;
    }
    
    .img {
        width: 200px;
        height: 175px;
        border-top-right-radius: 13px;
        border-top-left-radius: 13px;
    }
    
    .header {
        font-size: 13.5px;
        font-weight: 700;
        height: 33px;
        color: #5E6282;
    }
    
    .starBody {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .starIcon {
        height: 13.5px;
        width: 13.5px;
        color: gold;
    }
    
    .secondBody {
        align-self: flex-start;
        float: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    
    }
    
    .iconLoc {
        height: 13.5px;
        width: 13.5px;
        margin-right: 7px;
        color: #5E6282;
    }
    
    .rowText {
        width: 175px;
        object-fit: cover;
        height: 33px;
        text-align: left;
        float: left;
        font-size: 10px;
        font-weight: 300;
        margin-bottom: 4px;
        color: #5E6282;
        height: fit-content;
    }
    
}
/* 
@media (max-width: 740px){
    .body {
        display: flex;
        width: 175px;
        height: 300px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        z-index: 1;
        margin-bottom: 20px;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
        align-items: center;
    
    }
    
    .body:hover {
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imgBody {
        width: 175px;
        height: 150px;
        margin-bottom: 10px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .img {
        width: 175px;
        height: 150px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .header {
        font-size: 12px;
        font-weight: 700;
        height: 34px;
        color: #5E6282;
    }
    
    .starBody {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .starIcon {
        height: 12px;
        width: 12px;
        color: gold;
    }
    
    .secondBody {
        align-self: flex-start;
        float: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    
    }
    
    .iconLoc {
        height: 12px;
        width: 12px;
        margin-right: 7px;
        color: #5E6282;
    }
    
    .rowText {
        width: 140px;
        object-fit: cover;
        height: 32px;
        text-align: left;
        float: left;
        font-size: 8.5px;
        font-weight: 300;
        margin-bottom: 4px;
        color: #5E6282;
        height: fit-content;
    }
    
}

@media (max-width: 660px){
    .body {
        display: flex;
        width: 155px;
        height: 275px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 12px;
        z-index: 1;
        margin-bottom: 20px;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .body:hover {
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imgBody {
        width: 155px;
        height: 140px;
        margin-bottom: 10px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
    
    .img {
        width: 155px;
        height: 140px;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
    
    .header {
        font-size: 11px;
        font-weight: 700;
        height: 32px;
        color: #5E6282;
    }
    
    .starBody {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .starIcon {
        height: 11px;
        width: 11px;
        color: gold;
    }
    
    .secondBody {
        align-self: flex-start;
        float: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    
    }
    
    .iconLoc {
        height: 12px;
        width: 12px;
        margin-right: 7px;
        color: #5E6282;
    }
    
    .rowText {
        width: 120px;
        object-fit: cover;
        height: 32px;
        text-align: left;
        float: left;
        font-size: 8px;
        font-weight: 300;
        margin-bottom: 4px;
        color: #5E6282;
        height: fit-content;
    }
    
}

@media (max-width: 600px){
    .body {
        display: flex;
        width: 145px;
        height: 265px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        z-index: 1;
        margin-bottom: 20px;
        text-decoration: none;
        padding-top: 7px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .body:hover {
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imgBody {
        width: 145px;
        height: 130px;
        margin-bottom: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .img {
        width: 145px;
        height: 130px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .header {
        font-size: 9.5px;
        font-weight: 700;
        height: 32px;
        color: #5E6282;
    }
    
    .starBody {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .starIcon {
        height: 9.5px;
        width: 9.5px;
        color: gold;
    }
    
    .secondBody {
        align-self: flex-start;
        float: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    
    }
    
    .iconLoc {
        height: 9.5px;
        width: 9.5px;
        margin-right: 7px;
        color: #5E6282;
    }
    
    .rowText {
        width: 115px;
        object-fit: cover;
        height: 31px;
        text-align: left;
        float: left;
        font-size: 8px;
        font-weight: 300;
        margin-bottom: 4px;
        color: #5E6282;
        height: fit-content;
    }
    
}

@media (max-width: 425px){
    .body {
        display: flex;
        width: 135px;
        height: 260px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        z-index: 1;
        margin-bottom: 20px;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .body:hover {
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imgBody {
        width: 165px;
        height: 105px;
        margin-bottom: 10px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .img {
        width: 165px;
        height: 105px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .header {
        font-size: 7px;
        font-weight: 700;
        height: 30px;
        color: #5E6282;
    }
    
    .starBody {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .starIcon {
        height:7px;
        width: 7px;
        color: gold;
    }
    
    .secondBody {
        align-self: flex-start;
        float: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    
    }
    
    .iconLoc {
        height: 7px;
        width: 7px;
        margin-right: 7px;
        color: #5E6282;
    }
    
    .rowText {
        width: 80px;
        object-fit: cover;
        height: 33px;
        text-align: left;
        float: left;
        font-size: 6px;
        font-weight: 300;
        margin-bottom: 4px;
        color: #5E6282;
        height: fit-content;
    } 
}

@media (max-width: 380px){
    .body {
        display: flex;
        width: 120px;
        height: 245px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        z-index: 1;
        margin-bottom: 20px;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .body:hover {
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imgBody {
        width: 150px;
        height: 90px;
        margin-bottom: 10px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .img {
        width: 150px;
        height: 90px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .header {
        font-size: 7px;
        font-weight: 700;
        height: 25px;
        color: #5E6282;
    }
    
    .starBody {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .starIcon {
        height:6.5px;
        width: 6.5px;
        color: gold;
    }
    
    .secondBody {
        align-self: flex-start;
        float: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    
    }
    
    .iconLoc {
        height: 6.5px;
        width: 6.5px;
        margin-right: 7px;
        color: #5E6282;
    }
    
    .rowText {
        width: 75px;
        object-fit: cover;
        height: 33px;
        text-align: left;
        float: left;
        font-size: 5px;
        font-weight: 300;
        margin-bottom: 4px;
        color: #5E6282;
        height: fit-content;
    } 
}

@media (max-width: 320px){
    .body {
        display: flex;
        width: 105px;
        height: 230px;
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
        border-radius: 15px;
        z-index: 1;
        margin-bottom: 20px;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .body:hover {
        box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 5px 0 rgba(0, 0, 0, 0.19);
    }
    
    .imgBody {
        width: 75px;
        height: 170px;
        margin-bottom: 10px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .img {
        width: 75px;
        height: 170px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    
    .header {
        font-size: 6px;
        font-weight: 700;
        height: 20px;
        color: #5E6282;
    }
    
    .starBody {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }
    
    .starIcon {
        height:6px;
        width: 6px;
        color: gold;
    }
    
    .secondBody {
        align-self: flex-start;
        float: left;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
    
    }
    
    .iconLoc {
        height: 6px;
        width: 6px;
        margin-right: 7px;
        color: #5E6282;
    }
    
    .rowText {
        width: 60px;
        object-fit: cover;
        height: 33px;
        text-align: left;
        float: left;
        font-size: 4.5px;
        font-weight: 300;
        margin-bottom: 4px;
        color: #5E6282;
        height: fit-content;
    } 
} */